{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <script src="{% static 'home.js' %}"></script>
    <style>
        section#intro {
            background: url("{% static 'images/black.jpg' %}") no-repeat center center fixed;
            background-size: cover;
            height: 100vh;
        }

        section#about {
            background: #f0f0f0;
        }

        section#social-media {
            background: darkslategray;
        }
    </style>
{% endblock %}

{% block content %}
    <section id="intro">
        <div>
            <h1>Hello!</h1>
            <h2>My name is Ian Xie. I am a:</h2>
            <h2 id="dynamic-role" class="dynamic-role"></h2>

            <div class="btn" onclick="window.location.href='#about'">
                <button class="intro-btn">About Me</button>
                <i class='bx bx-down-arrow-alt'></i>
            </div>
        </div>
        {% comment %} <img src="{% static 'images/image-1.jpg' %}" alt="image-1.jpg"> {% endcomment %}
    </section>

    <section id="about">
        <div>
            <h1>About me</h1>
            <hr>
        </div>
        <div class="about-me">
            <img src="{% static 'images/image-2.jpg' %}" alt="image-2.jpg">
            <div>
                <p>
                    I am a high school student with a passion for web development. I have some experiences in mostly front-end but also back-end development. I am proficient in HTML, CSS, and JavaScript, as well as some Python. I am also familiar with React and Node.js. I am always eager to learn new technologies and improve my skills.

                    <br>
                    <br>

                    In addition to coding, I also love playing badminton and <a href="https://en.wikipedia.org/wiki/Go_(game)">Chinese Weiqi</a>! As a member of JV Blue school badminton team, I train 3 times a week, along with one extra session I have on each Saturday outside of school.
                </p>
            </div>
        </div>
    </section>

    <section id="coding">
        <div>
            <h1>Programming languages</h1>
            <div>
                <label for="html">HTML</label>
                <progress value="90" max="100" id="html">90%</progress>
            </div>
            <div>
                <label for="css">CSS</label>
                <progress value="90" max="100" id="css">90%</progress>
            </div>
            <div>
                <label for="js">JavaScript</label>
                <progress value="80" max="100" id="js">80%</progress>
            </div>
            <div>
                <label for="python">Python</label>
                <progress value="60" max="100" id="python">60%</progress>
            </div>
            <div>
                <label for="react">React / Node.js</label>
                <progress value="50" max="100" id="react">50%</progress>
            </div>
            <small>*My proficiency level in different programming languages</small>
        </div>
        <img src="{% static 'images/image-3.jpg' %}" alt="image-3.jpg">
    </section>

    <section id="social-media">
        <h1>Connect with me</h1>
        <div class="socials">
            <div>
                <i class='bx bxl-github' onclick="window.open('https://github.com/YianXie')"></i>
                <p>GitHub</p>
            </div>
            <div>
                <i class='bx bxl-instagram-alt' onclick="window.open('https://www.instagram.com/xya_ian_sg/')"></i>
                <p>Instagram</p>
            </div>
            <div>
                <i class='bx bxs-envelope' onclick="window.open('mailto:yianxie52@gmail.com')"></i>
                <p>Email</p>
            </div>
        </div>

        <div class="btn" onclick="window.location.href='#intro'">
            <button>Back to the top</button>
            <i class='bx bx-up-arrow-alt' id="arrow-up"></i>
        </div>
    </section>
{% endblock %}