{% extends 'base.html' %}
{% load static %}

{% block title %}Contacts{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'contacts.css' %}">
<script src="{% static 'contacts.js' %}"></script>
{% endblock %}

{% block content %}
<section class="contact">
    <div class="title">
        <h1>Contact me</h1>
        <p>Get in touch</p>
    </div>

    <div class="info">
        <img src="{% static 'images/social-media.png' %}" alt="social-media.png" draggable="false">
        <div class="items">
            <div class="item">
                <i class='bx bxs-user-badge'></i>
                <div>
                    <b>Name</b>
                    <p>Yian (Ian) Xie</p>
                </div>
            </div>
            <div class="item">
                <i class='bx bxl-github'></i>
                <div>
                    <b>GitHub</b>
                    <p><a href="https://github.com/YianXie">YianXie</a></p>
                </div>
            </div>
            <div class="item">
                <i class='bx bxs-envelope'></i>
                <div>
                    <b>Email</b>
                    <p><a href="mailto:yianxie52@gmail.com">yianxie52@gmail.com</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="form">
    <h1>Send me a message online!</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Send">
    </form>
</section>

{% if success_message %}
<script>
    alert("{{ success_message }}");
</script>
{% endif %}

{% endblock %}