h1 {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    padding: 10px 0;
}

.intro {
    padding: 20px;
}

.intro>h2 {
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.intro a {
    color: white;
    text-decoration: underline;
}

div.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 30px;
    justify-content: center;
    padding: 20px 30px;
}

div.projects>.repo {
    background: rgb(52, 52, 52);
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s;

    &:hover {
        box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.5);
    }
}