@import url("https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Change the style of the scroll bar */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: grey;
    cursor: pointer;
}

html,
body {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    overflow-x: hidden;
    margin: 0;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.show-mobile {
    display: none;
}

@media only screen and (max-width: 768px) {
    .hide-mobile {
        display: none;
    }

    .show-mobile {
        display: block;
    }
}
